@import "fonts";

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, fieldset, table, thead, tfoot, tbody, tr, th, td, form, img, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, video {
  margin: 0;
  padding: 0;
}
a {
  user-select: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
input:focus,
button:focus {
  outline: 0;
}
input::-webkit-input-placeholder {color: #999;}
input::-moz-placeholder	{color: #999;}
input:-ms-input-placeholder	{color: #999;}

body {
  margin: 0;
  font-family: Arial;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button[disabled], input[disabled] {
  cursor: default;
}
label {
  cursor: pointer;
  user-select: none;
}
            //Шапка с контактами и кнопками
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.info {
  margin-left: 40px;
  width: 30px;
  background: url(../img/letter.svg) no-repeat;
  @media screen and (max-width:750px) {
    margin-left: 0;
  }
}
.num {
  width: 23px;
  background: url(../img/tel.svg) no-repeat;
}
.contact-top {
  background: #4B5464;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  @media screen and (max-width:1100px) {
    padding: 0 0 0 3.5%;
  }
  &-icon {
    height: 18px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
  }
  &-info {
    font-family: "Open Sans", Arial, SansSerif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 16px;
  }
  &-num {
    font-family: "Open Sans", Arial, SansSerif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: white;
    line-height: 16px;
  }
  &-l {
    display: flex;
    flex-direction: row;
    @media screen and (max-width:750px) {
      flex-direction: column;
        &:nth-of-type(2) {
          flex-direction: column-reverse;
            .contact-top-l-i {
              justify-content: flex-end;
            }
        }
    }
    @media screen and (max-width:650px) {
      &:nth-of-type(2) {
        .contact-top-l-i {
          &-link-user {
            background-size: cover;
            width: 37px;
            height: 26px;
          }
          &-link-enter {
            padding: 9px 31px 9px 8px
          }
        }
      }
    }
    &-i {
      display: flex;
      align-items: center;
      @media screen and (max-width:750px) {
        height: 50%;
      }
    }
    &-i-link {
      display: flex;
      align-items: center;
      &:link,
      &:visited {
        color: white;
      }

      &:hover .contact-top-l-i-link-register {
        background: #68bc42;
      }

      &:active .contact-top-l-i-link-register {
        background: #a5bc42;
      }

      &-register {
        padding: 17px 31px;
        line-height: 20px;
        background: #86BC42;
        font-family: "Open Sans", Arial, SansSerif;
        font-size: 17px;
        font-weight: 600;
        font-style: normal;
        @media screen and (max-width:1100px) {
          padding: 12px 31px;
        }
        @media screen and (max-width:750px) {
          padding: 8px 31px;
        }
        @media screen and (max-width:750px) {
          padding: 8px 28px;
          font-size: 15px;
        }

      }
      &-enter {
        padding: 19px 35px 19px 16px;
        line-height: 16px;
        font-family: "Open Sans", Arial, SansSerif;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        @media screen and (max-width:1100px) {
          padding: 14px 35px 14px 16px;
        }
        @media screen and (max-width:1100px) {
          padding: 10px 35px 10px 16px;
        }
      }
      &-user {
        width: 42px;
        height: 31px;
        display: inline-block;
        background: url(../img/user.svg) no-repeat;
        overflow: hidden;
        text-indent: -9999px;
        text-align: left;
      }
    }
  }
  &-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-family: "Open Sans", Arial, SansSerif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 800;
    font-style: normal;
    @media screen and (max-width:1100px) {
      &:not(.title-bottom) {
        display: none;
      }
    }
  }
  &-title span {
    color: #86BC42;
  }
}
                      //Меню в шапке => бургер
.osbb-menu {
  padding: 0 5%;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  @media screen and (max-width:1500px) {
    padding: 0;
  }
  &-l {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media screen and (max-width:1100px) {
      display: none;
    }
    &-i {
      position: relative;
      &-link {
        font-size: 14px;
        line-height: 35px;
        display: block;
        font-family: "Open Sans", SansSerif, Arial;
        font-weight: 600;
        font-style: normal;
        text-align: center;
        padding: 0 3vw;
        white-space: nowrap;

      }
    }
  }
}
.osbb-menu-l-i
.osbb-menu-l-i-link,
.osbb-menu-l-i-link:link,
.osbb-menu-l-i-link:visited {
  color: #788192;
}
.osbb-menu-l-i-link:hover {
  color: #86BC42;
}
.osbb-menu-l-i-link:active {
  color: #a5bc42;
}
.burger-l {
  display: none;
  padding: 0 4%;
  &-contact-top-title {
    color: #4B5464;
    font-family: "Open Sans", Arial, SansSerif;
    font-size: 20px;
    line-height: 38px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    span {
      color: #86bc42;
    }
  }
  @media screen and (max-width:1100px) {
    display: flex;
    justify-content: space-between;
  }
}
.burger-icon {
  padding: 13px 0 0;
}
.burger-input {
  display: none;
}

.burger-input:checked ~ .osbb-menu .osbb-menu-l {
  display: flex;
  flex-direction: column;
}

                                //Картинка с формой

.osbb-top {
  background: url(../img/header_img.jpg) 0 50%;
  background-size: cover;
  text-align: center;
  &-block {
    background: rgba(47, 45, 55, 0.25);
    border-radius: 5px;
    display: inline-block;
    color: white;
    margin: 83px auto;
    @media screen and (max-width:1100px) {
      margin: 26px auto;
    }
    &-inner {
      padding: 53px 140px 26px;
      display: inline-block;
      font-family: "Muli", SansSerif, Arial;
      @media screen and (max-width:1100px) {
        padding: 38px 28px 16px;
      }
      @media screen and (max-width:750px) {
        padding: 14px 15px;
      }
    }
    &-title {
      font-weight: 600;
      font-style: normal;
      font-size: 40px;
      line-height: 43px;
      @media screen and (max-width:1100px) {
        font-size: 30px;
        line-height: 34px;
      }
      @media screen and (max-width:750px) {
        font-size: 23px;
        line-height: 26px;
      }
    }
    &-txt {
      font-weight: 300;
      font-style: normal;
      font-size: 28px;
      line-height: 40px;
      @media screen and (max-width:1100px) {
        font-size: 21px;
        line-height: 26px;
      }
      @media screen and (max-width:750px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &-steps {
      color: white;
      @media screen and (max-width:750px) {
        display: none;
      }
      &-img {
        display: inline-block;
        width: 60px;
        height: 60px;
        position: relative;
        @media screen and (max-width:1100px) {
          width: 45px;
          height: 45px;
        }
      }
      &-txt {
        display: inline-block;
        font-family: "Muli", SansSerif, Arial;
        font-size: 15px;
        line-height: 18px;
        @media screen and (max-width:1100px) {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
}
.osbb-top-block-steps-img:after {
  content: '';
  position: absolute;
  font-family: "Muli", SansSerif, Arial;
  color: white;
  top: -18px;
  left: -21px;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
  @media screen and (max-width:1100px) {
    top: -8px;
    left: -12px;
    font-size: 18px;
  }
}
.osbb-top-block-steps-img:nth-of-type(1):after {
  content: '1';
}
.osbb-top-block-steps-img:nth-of-type(2):after{
  content: '2';
}
.osbb-top-block-steps-img:nth-of-type(3):after{
  content: '3';
}
.osbb-top-block-steps-img:nth-of-type(1):before {
  content: '';
  position: absolute;
  background: white;
  width: 97px;
  height: 1px;
  bottom: 20px;
  left: 85px;
  @media screen and (max-width:1100px) {
    width: 70px;
    left: 66px;
  }
}
.osbb-top-block-steps-img:nth-of-type(2):before {
  content: '';
  position: absolute;
  background: white;
  width: 97px;
  height: 1px;
  bottom: 20px;
  left: 97px;
  @media screen and (max-width:1100px) {
    width: 70px;
    left: 74px;
  }
}

.osbb-top-block-steps-txt:nth-of-type(2) {
  margin: 21px 82px;
  @media screen and (max-width:1100px) {
    margin: 16px 59px;
  }
}
.osbb-top-block-steps-img:nth-of-type(1) {
  background: url("../img/icon1.svg") 50% 50% no-repeat ;
  background-size: cover;
}
.osbb-top-block-steps-img:nth-of-type(2) {
  background: url("../img/icon2.svg") 50% 50% no-repeat;
  margin: 0 160px;
  background-size: cover;
  @media screen and (max-width:1100px) {
    margin: 0 115px;
  }
}
.osbb-top-block-steps-img:nth-of-type(3) {
  background: url("../img/icon3.svg") 50% 50% no-repeat;
  background-size: cover;
}

.form-register {
  background: white;
  padding: 15px;
  border-radius: 40px;
  margin: 59px 0 47px;
  display: flex;
  flex-direction: row;
  @media screen and (max-width:1100px) {
    padding: 10px 15px;
    max-width: 390px;
    margin: 47px 74px 33px;;
  }
  @media screen and (max-width:750px) {
    flex-direction: column;
    background: transparent;
    max-width: 309px;
    justify-content: center;
    margin: 10px 0 0 0;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    &-btn {
      width: 85px;
      height: 31px;
      margin-top: 16px;
      box-shadow: 0 0 0 6px white;
    }
    &-inner {
      background: white;
      padding: 8px;
      border-radius: 40px;
    }
  }

  &-inner {
    display: flex;
    flex-direction: row;
  }
  &-field {
    border: 0.5px solid #999;
    font-family: "Muli", SansSerif, Arial;
    padding: 8px 5px 9px 15px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 15px;
    @media screen and (max-width:1100px) {
      padding: 0 0 0 9px;
      line-height: 12px;
      font-size: 13px;
      height: 31px;
    }
    @media screen and (max-width:750px) {
      margin-right: 0 !important;
    }
  }
  &-field:nth-of-type(1){
    width: 133px;
    @media screen and (max-width:1100px) {
      width: 104px;
    }
  }
  &-field:nth-of-type(2){
    width: 198px;
    margin: 0 15px;
    @media screen and (max-width:1100px) {
      width: 152px;
    }
  }
  &-btn {
    font-family: "Muli", SansSerif, Arial;
    padding: 8px 27px;
    border-radius: 20px;
    border: 1px solid transparent;
    color: white;
    background: #86BC42;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    @media screen and (max-width:1100px) {
      padding: 0 15px;
      font-size: 12px;
      line-height: 14px;
    }
  }
  &-btn:hover {
    background: #68bc42;
  }
  &-btn:active {
    background: #a5bc42;
  }
}

.osbb-gallery-link {
  font-family: "Muli", SansSerif, Arial;
  padding: 8px 27px;
  border-radius: 20px;
  border: 1px solid transparent;
  color: white;
  background: #86BC42;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}
                      //Блок слайдер галерея
.foto-gallery-l {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 20px 0 20px;
  @media screen and (min-width: 751px) {
   display: none;
  }
  &-i:not(:last-child) {
    margin-bottom: 25px;
  }
  &-i-link {
    display: block;
    height: 0;
    padding-bottom: 69%;
  }
}
.foto-gallery-l-i:nth-of-type(1) {
  background: url("../img/build1.jpg") no-repeat 50% 50%/cover;
}
.foto-gallery-l-i:nth-of-type(2) {
  background: url("../img/build2.jpg") no-repeat 50% 50%/cover;
}
.foto-gallery-l-i:nth-of-type(3) {
  background: url("../img/build3.jpg") no-repeat 50% 50%/cover;
}
.osbb-line {
  width: 105px;
  height: 1px;
  margin: 54px auto 0px;
  background: #dadde4;
  @media screen and (max-width:1100px) {
    margin: 34px auto 0;
  }
  @media screen and (max-width:750px) {
    margin: 24px auto 0;
  }
}
.osbb-gallery {
  max-width: 1143px;
  margin: 33px auto 77px;
  position: relative;
  @media screen and (max-width:750px) {
      display: none;
  }
  @media screen and (max-width:1100px) {
  margin: 33px auto 66px;
  }
  &-title {
    font-family: "Muli", SansSerif, Arial;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 21px;
    line-height: 53px;
    text-align: center;
    color: #6e798d;
    @media screen and (max-width:1100px) {
      font-size: 20px;
    }
    @media screen and (max-width:750px) {
      font-size: 17px;
      line-height: 20px;
      margin: 20px 10px;
    }
  }
  &-txt {
    background: white;
    font-family: "Muli", SansSerif, Arial;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #9ca3ad;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width:1100px) {
      font-size: 16px;
      margin: 0 4%;
    }
    @media screen and (max-width:750px) {
      font-size: 15px;
      line-height: 18px;
      margin: 0 4%;
    }
  }
  &-slide {
    background: #a5bc42;
    a {
      display: block;
      height: 0;
      padding-bottom: 69%;
    }
  }
  &-link {
    display: inline-block;
    &-wrap {
      border-top: 1px solid transparent;
      text-align: center;
      position: relative;
    }
  }
}
.osbb-gallery-slide:nth-of-type(1),
.osbb-gallery-slide:nth-of-type(4),
.osbb-gallery-slide:nth-of-type(5),
.osbb-gallery-slide:nth-of-type(6) {
background: url("../img/build1.jpg") no-repeat 50% 50%/cover;
}
.osbb-gallery-slide:nth-of-type(2),
.osbb-gallery-slide:nth-of-type(7),
.osbb-gallery-slide:nth-of-type(8),
.osbb-gallery-slide:nth-of-type(9){
  background: url("../img/build2.jpg") no-repeat 50% 50%/cover;
}
.osbb-gallery-slide:nth-of-type(3),
.osbb-gallery-slide:nth-of-type(10),
.osbb-gallery-slide:nth-of-type(11),
.osbb-gallery-slide:nth-of-type(12){
  background: url("../img/build3.jpg") no-repeat 50% 50%/cover;
}
.bx-wrapper {
  position: relative;
  margin: 0 auto;
}
.bx-prev {
  text-indent: -9999px;
  display: block;
  position: absolute;
  width: 47px;
  bottom: -46px;
  margin-left: -143px;
  left: 50%;
  background: url("../img/arrow_prev.svg") 50% 50% no-repeat;
}
.bx-next {
  display: block;
  text-indent: -9999px;
  position: absolute;
  width: 47px;
  margin-right: -143px;
  right: 50%;
  bottom:-46px;
  background: url("../img/arrow_grey.svg") 50% 50% no-repeat;
}
.bx-pager {
  position: absolute;
  bottom: -47px;
  left: 50%;
  margin-left: -50px;
  &-link {
    background: url(../img/ellipse1.svg)50% 50% no-repeat;
    width: 21px;
    height: 21px;
    padding: 0 2px;
    display: inline-block;
  }
  &-link:visited,
  &-link:active,
  &-link:hover,
  &-link:link,{
    color: transparent;
  }
}
.bx-pager-link.active {
  background: url("../img/ellipse2.svg") no-repeat;
}
.bx-pager-item {
  display: inline-block;
}
.osbb-plant {
  height: 372px;
  width: 151px;
  position: absolute;
  background: url("../img/plant_left.png") 50% 50% no-repeat;
  right: 0;
  top: -92px;
  background-size: cover;
  @media screen and (max-width:1100px) {
    top: -36px;
    width: 77px;
    height: 298px;
  }
  @media screen and (max-width:750px) {
    display: none;
  }
}
                    //Информационный блок "Коммунальные услуги"
.btn-line {
  position: relative;
}
.btn-line:after {
  content: "";
  position: absolute;
  background: white;
  height: 1px;
  width: 15px;
  right: -1px;
  bottom: 17px;
}
.osbb-info {
  text-align: center;
  position: relative;
  &-services {
    text-align: left;
    max-width: 660px;
    display: inline-block;
    p {
      margin: 20px 0;
    }
  }
  &-block {
    background: white;
    vertical-align: top;
    color: #6e798d;
    display: inline-block;
    padding: 40px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.49);
    @media screen and (max-width:1100px) {
      margin: 10px;
      padding: 30px 0 0 0;
    }

    &-title {
      text-transform: uppercase;
      font-family: "Open Sans", Arial, SansSerif;
      font-size: 16px;
      line-height: 20px;
    }
    .osbb-line {
      margin: 20px auto 0px;
    }
    &-l {
      &-i {
        &-img {
          width: 56px;
          height: 56px;
          background: url("../img/ellipse_green.png") no-repeat;
          position: relative;
        }
        &-img:before {
          content: '';
          position: absolute;
          top: 20px;
          left: 22px;
          color: #86BC42;
        }
        &-link {
          text-decoration:  underline;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: "Roboto", SansSerif, Arial;
          font-size: 16px;
          line-height: 20px;
          margin: 28px;
          @media screen and (max-width:465px) {
            font-size: 15px;
            margin: 28px 10px;
          }
          &-txt {
            padding-left: 20px;
            @media screen and (max-width:465px) {
              padding-left: 10px;
            }
          }
        }
        &-link:link,
        &-link:visited {
          color: #9ca3ad;
        }
        &-link:hover {
          color: #86BC42;
        }
        &-link:active {
          color: #a5bc42;
        }
      }
    }
  }
}
.osbb-info-block-l-i:nth-of-type(1) .osbb-info-block-l-i-img:before {
  content: '1';
}
.osbb-info-block-l-i:nth-of-type(2) .osbb-info-block-l-i-img:before {
  content: '2';
}
.osbb-info-block-l-i:nth-of-type(3) .osbb-info-block-l-i-img:before {
  content: '3';
}

                              //Информация про тарифы
.osbb-tariffs {
  background: url(../img/team.jpg) 0 50%;
  background-size: cover;
  border: 1px solid transparent;
  text-align: center;
  margin: 40px 0;
  &-block {
    border: 1px solid #86BC42;
    border-radius: 5px ;
    background: rgba(255,255,255, 0.9);
    max-width: 1007px;
    margin: 45px auto;
    @media screen and (max-width:1100px) {
      margin: 45px 1%;
    }
    .osbb-line {
      margin: 35px auto 0px;
      background: #cbcfd9;
    }
  }
}
.osbb-tariffs-inner {
  display: flex;
  flex-direction: row;
  padding: 0 33px;
  font-family: "Open Sans", Arial, SansSerif;
  color:#6E788D;
  @media screen and (max-width:1100px) {
    padding: 0 23px;
  }
  @media screen and (max-width:700px) {
   flex-direction: column;
  }
}
.osbb-tariffs-form {
  padding-right: 60px;
  flex-grow: 1;
  flex-shrink: 0;
  width: 50%;
  box-sizing: border-box;
  text-align: left;
  @media screen and (max-width:1100px) {
    padding-right:0;
  }
  @media screen and (max-width:700px) {
    width: auto;
  }
}
.osbb-tariffs-note {
  padding-left: 60px;
  padding-top: 32px;
  flex-grow: 1;
  flex-shrink: 0;
  width: 50%;
  box-sizing: border-box;
  text-align: left;
  @media screen and (max-width: 1100px) {
    padding: 10px 0;
  }
  @media screen and (max-width:700px) {
    width: auto;
  }

  &-green {
    color: #86BC42;
  }

  &-up {
    text-transform: uppercase;
  }

  &-cost {
    margin: 0 0 30px 23px;
    line-height: 29px;
    font-size: 20px;
    font-weight: 600;
    @media screen and (max-width: 1100px) {
    margin: 0 0 15px 23px;
    line-height: 20px;
    font-size: 18px;
    }
  }

  &-icon {
    flex-shrink: 0;
    width: 39px;
    height: 39px;
    margin-right: -4px;
    background: url(../img/attention.svg) no-repeat 50% 50%/contain;
    @media screen and (max-width: 1100px) {
      width: 28px;
      height: 28px;
      margin-right: 12px;
    }

    &-wrap {
      display: flex;
      flex-direction: row;
      margin: 32px 0 32px 24px;
      @media screen and (max-width: 1100px) {
        margin-left: 0;
      }
    }
  }

  &-txt {
    padding: 8px 0px 8px 23px;
    font-size: 16px;
    line-height: 20px;
    @media screen and (max-width: 1100px) {
      padding: 4px 0px 4px;
      font-size: 13px;
      line-height: 16px;
    }
    @media screen and (max-width: 767px) {
      padding-left: 0;
    }
  }
}
.form-osbb-input-txt {
  color: #6E788D;
  font-family: "Open Sans", Arial, SansSerif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  padding: 11px 0;
  @media screen and (max-width:1100px) {
    font-size: 13px;
    line-height: 17px;
    padding: 6px 0;
  }
}
.input-textarea {
  padding: 13px 15px;
  font-family: "Open Sans", Arial, SansSerif;
  font-size: 17px;
  line-height: 21px;
  border-radius: 3px;
  border: 1px solid #6E788D;
  width: 340px;
  margin-bottom: 10px;
  @media screen and (max-width:1100px) {
    width: 233px;
    padding: 6px 13px;
    font-size: 12px;
    margin-bottom: 9px;
  }
}
.input-radio {
  display: none;
}
.form-osbb-check {
  color: #6E788D;
  padding: 5px 30px 5px 29px;
  font-size: 15px;
  line-height: 19px;
  margin-left: 3px;
  position: relative;
  font-family: "Open Sans", Arial, SansSerif;
  @media screen and (max-width:1100px) {
    font-size: 14px;
    padding: 5px 10px 5px 20px;
    margin: 0;
  }
}
.form-osbb-check:before{
  position: absolute;
  display: block;
  content: "";
  left: 0;
  border: 1px solid #6e788d;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: 8px;
}
.input-radio:checked + .form-osbb-check:before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  background: #86BC42;
  border: 2px solid white;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  top: 8px;
  -webkit-box-shadow: 0 0 0 1px #86bc42;
  -moz-box-shadow:  0 0 0 1px #86bc42;
  box-shadow:  0 0 0 1px #86bc42;
}
                           //Слайдер Новости

.osbb-news {
  float: left;
  width: 50%;
  color: #6E788D;
  font-family: "Muli", SansSerif, Arial;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px 0 5px 79px;
  margin: 0 0 33px 0;
  box-sizing: border-box;
  @media screen and (max-width:1100px) {
    float: none;
    width: auto;
    padding-left: 0;
    text-align: center;
  }
  &-container {
    position: relative;
  }
  &-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    &-wrap {
      width: 50%;
      float: right;
      @media screen and (max-width:1100px) {
        float: none;
        width: auto;
      }
    }
  }
  &-txt {
    font-family: "Muli", SansSerif, Arial;
    font-size: 17px;
    line-height: 20px;
    color: #6E788D;
    padding-bottom: 20px;
    &-wrap {
      margin: 20px 50% 0 11%;
      padding-right: 40px;
      @media screen and (max-width:1100px) {
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
  &-link,
  &-link:link,
  &-link:visited {
    color: #86BC42;
    font-family: "Muli", SansSerif, Arial;
    font-size: 17px;
    line-height: 58px;
    display: inline-block;
  }
  &-link:hover {
    color: #68bc42;
  }
  &-link:active {
    color: #a5bc42;
  }
  &-link-arrow {
    background: url(../img/arrow_green.svg) 50% 50% no-repeat;
    width: 59px;
    height: 11px;
    display: inline-block;
  }
}
.slider-news {
  position: relative;
  padding-top: 33px;
  margin-bottom: 108px;
  border-bottom: 1px solid transparent;
  .bx-pager,
  .bx-next,
  .bx-prev {
    bottom: -79px;
  }
}

@media screen and (max-width:1100px) {
  .osbb-news-slide-inner {
    padding: 0 12.37vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}
.osbb-news-slide:before {
  position: absolute;
  content: '';
  height: 3px;
  width: 70px;
  background: #86bc42;
  top: 0;
  left: 10px;
}
.osbb-plant-left {
  height: 372px;
  width: 151px;
  position: absolute;
  background: url(../img/plant_right.png) no-repeat;
  left: -17px;
  top: -284px;
  @media screen and (max-width:1100px) {
    display: none;
  }
}
@media screen and (max-width:1100px) {
  .slider-news .bx-pager,
  .slider-news .bx-next,
  .slider-news .bx-prev {
    bottom: -35px;
  }
  .slider-news {
    margin-bottom: 72px;
  }
}
                                  //Подвал
.osbb-footer-menu-l-i-link:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: url("../img/small_arrow_white.svg") 50% 50% no-repeat;
  top: 5px;
  left: 0px;
}
.osbb-footer-menu-l-i-link:hover:before {
  background: url("../img/small_arrow_green.svg") 50% 50%  no-repeat;
}
.osbb-footer {
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  position: relative;
  @media screen and (max-width:750px) {
    flex-direction: column;
  }
  &-menu {
    background: #4B5464;
    display: flex;
    flex-direction: row;
    width: 72%;
    box-sizing: border-box;
    position: relative;
    @media screen and (max-width:1100px) {
      flex-direction: column;
    }
    @media screen and (max-width:750px) {
      width: auto;
    }
    &:after {
      position: absolute;
      content: "";
      background: url("../img/plant.png") 50% 50% no-repeat;
      width: 150px;
      height: 150px;
      bottom: 0px;
      right: 0px;
      background-size: cover;
      @media screen and (max-width:750px) {
        width: 100px;
        height: 100px;
      }
    }
    &-left {
      margin-right: 45px;
      @media screen and (max-width:1100px) {
        margin-right: 25px;
      }
    }
    &-right {
      margin-top: 65px;
      margin-right: 65px;
      @media screen and (max-width:1100px) {
        margin-right: 45px;
      }
    }
    &-block {
      display: flex;
      flex-direction: row;
      padding-left: 80px;
      @media screen and (max-width:1100px) {
        padding-left: 30px;
      }
    }
    &-l-i-link,
    &-l-i-link:link,
    &-l-i-link:visited {
      color: white;
      font-family: "Open Sans", Arial, SansSerif;
      font-size: 14px;
      line-height: 20px;
      padding-left: 16px;
      position: relative;
    }
    &-l-i-link:hover {
      color: #86bc42;
    }
    &-l-i-link:active {
      color: #a5bc42;
    }
  }
  &-title {
    color: white;
    font-family: "Muli", SansSerif, Arial;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 24px 0;
  }
  &-contact-block {
    padding-left: 55px;
    position: relative;
    @media screen and (max-width:1100px) {
      padding-left: 30px;
    }
    &:before {
      position: absolute;
      content: '';
      width: 1px;
      background: white;
      top: 65px;
      bottom: 40px;
      left: 0px;
    }
  }
  &-contact-info {
    position: relative;
    padding: 0 0 0 19px;
    &:link,
    &:visited {
      color: white;
      font-family: "Open Sans", Arial, SansSerif;
      font-size: 14px;
      line-height: 16px;
    }
    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 16px;
      left: -8px;
      top: 0px;
      background: url("../img/letter_tr.svg") no-repeat;
    }
  }
  &-contact-num {
    color: white;
    position: relative;
    font-family: "Open Sans", Arial, SansSerif;
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 10px 16px;
    &:before {
      position: absolute;
      content: '';
      width: 17px;
      height: 16px;
      left: -8px;
      top: 0px;
      background: url("../img/tel_tr.svg") no-repeat;
    }
  }
  &-contact-l-i {
    position: relative;
  }
}
.osbb-footer-l {
  padding: 0 4%;
  justify-content: space-around;
  width: 28%;
  box-sizing: border-box;
  min-width: 348px;
  flex-shrink: 0;
  .contact-top-title {
    margin-top: 7px;
    div {
      color: #4B5464;
    }
    span {
      color: #86bc42;
    }
  }
  &-i {
    padding: 0 20px;
    &-txt {
      color: #9CA3AB;
      font-family: "Muli", SansSerif, Arial;
      font-size: 12px;
      line-height: 15px;
      padding: 20px 0 0;
    }
    &-link {
      margin: 20px 0 10px;
      a {
        position: relative;
        display: inline-block;
        width: 21px;
        height: 21px;
        margin-right: 11px;
      }
    }
  }
}
.osbb-footer-l-i-link-tw:before {
  content: '';
  background: url("../img/tw.svg");
  position: absolute;
  width: 21px;
  height: 21px;
}
.osbb-footer-l-i-link-fb:before {
  content: '';
  background: url("../img/fb.svg");
  position: absolute;
  width: 21px;
  height: 21px;
}
.osbb-footer-l-i-link-tl:before {
  content: '';
  background: url("../img/telegram.svg");
  position: absolute;
  width: 21px;
  height: 21px;
}
